---
import ScrollReveal from "./ScrollReveal.tsx";
import { Image } from "astro:assets";

import Mariusz from "../assets/people/mari.jpg";
import Mati from "../assets/people/mati.jpg";
import Michu from "../assets/people/michu.jpg";

const participants = [
  {
    name: "Mateusz Duda",
    description:
      "Mózg całej akcji i człowiek wielu talentów, który trzyma wszystko w ryzach ze stoickim spokojem. Kreatywny, empatyczny i uważny na ludzi wokół. Miłośnik dobrej kawy. Fan tostów z serem. Z dystansem do świata i regeneracji - bo spanie traktuje jak strategiczny element działania, a nie słabość.",
    image: Mati,
  },
  {
    name: "Mariusz Grabski",
    description:
      "Chodząca pozytywna energia i lekki chaos w najlepszym wydaniu. Zawsze wysłucha, zawsze wesprze, czasem rzuci żartem. Pomoże jeśli tylko będzie trzeba. Interesuje się żywieniem i lubi robić zdrowe żarło, ciesząc się chwilą zamiast liczyć wszystko co do grama.",
    image: Mariusz,
  },
  {
    name: "Michał Wrona",
    description:
      "Teczniczny ogarniacz na dwóch kółkach i nasza złota rączka. Człowiek tryskający energią i spokojem, który stawia na niekonwencjonalne rozwiązania i praktyczne podejście do problemów. Gdy pojawia się wyzwanie, on po prostu je rozwiązuje - spokojnie, skutecznie i po swojemu.",
    image: Michu,
  },
];
---

<section id="features" class="max-w-6xl mx-auto pt-12 p-4">
  <ScrollReveal client:load delay={0.2}>
    <h1 class="text-4xl font-bold text-gray-900 my-4 text-center">
      Poznaj nową ekipę
    </h1>
  </ScrollReveal>

  <ScrollReveal client:load delay={0.3}>
    <hr class="h-px mt-0 bg-gray-200 border-0 mb-6" />
  </ScrollReveal>

  <ScrollReveal client:load delay={0.4}>
    <div class="flex justify-center">
      <div class="flex flex-col sm:flex-row gap-4">
        {
          participants.map((participant, i) => (
            <ScrollReveal client:load delay={0.2 + i * 0.2} scale={true}>
              <div class="p-6 max-w-lg">
                <Image
                  alt={`Zdjęcie ${participant.name}`}
                  src={participant.image}
                  class="w-32 h-40 object-cover rounded-lg mb-4 border border-gray-200"
                />
                <h3 class="text-xl font-semibold text-gray-900 mb-2">
                  {participant.name}
                </h3>
                <p class="text-gray-600">{participant.description}</p>
              </div>
            </ScrollReveal>
          ))
        }
      </div>
    </div>
  </ScrollReveal>
</section>
